@charset "ISO-8859-1";
#left {
        width: 1000px;
        float: left;
        padding: 5px;
        margin: 40px;
        background: #f8f8f8;
        border: solid 2px ;
      
}
#center {
        width: 1000px;
        float: left;
        padding: 5px;
        margin: 40px;
        border: solid 2px black;
}
#right {
        padding: 5px;
        margin: 40px;
        float: left;
        background: #f0efef;
        border: solid 2px black;      
}
#test {      
        padding: 15px;
        position: absolute;
        left: 10px;
        bottom: 20px;
        background: #f0efef;
        border: solid 2px black;
        clear:both;
}
button{
	background-color: orange;
	font-size:35px;
}